/* @import "css_reset"; */
@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  // Font stuff
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 400;
  // Color stuff
  background-color: $light_gray;
  color: $dark_blue;
}

/* * { 
  // CSS reset that apparently my previous CSS reset didn't have
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  // Webpage display
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  // Webpage size
  width: 100vw;
  min-height: 100vh;
  /* max-width: 400px; */
  margin: 0 auto;
}

.qr_card {
  // Display
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  // Dimensions
  width: 26rem;
  height: 43.5rem;
  padding: 0 0.9375rem;
  margin-bottom: -1.25rem;
  // Colors & Effects
  border-radius: 1.875rem;
  background-color: $white;
  box-shadow: 0rem 1.25rem 1.75rem 0.25rem rgba(0, 0, 0, 0.1);

  &-image {
    // Img reset
    display: block;
    max-width: 100%;
    border-radius: 0.625rem;
    width: 25rem;
    text-align: center;
    object-fit: contain;
  }
  &-text {
    h3 {
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
      /* padding: 0;
      margin: 0; */
    }
    p {
      margin: 0;
      padding: 0 1.125rem;
      font-size: 1.3rem;
      text-align: center;
      color: $grayish_blue;
    }
  }
}
